@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

/* navbar */
.navbar-brand h1 {
    font-weight: 700;
}

.navbar {
    box-shadow: rgb(0, 0, 0) 0px 0px 50px -10px;


}

.dot {
    color: #e03a3c;

}

.btn {
    background-color: #e03a3c !important;
    border: none;
    color: white !important;
    font-size: 14px !important;
    margin: 0 0 0 30px;
    border-radius: 4px;

}

.navbar-nav {
    padding: 20px 0;
}

.nav-item a {
    font-size: 16px !important;
    color: #212529;
    padding: 18px 15px !important;
    font-weight: 400 !important;



}

.nav-item:hover a {
    color: #e03a3c;

}

.nav-item a span {
    color: #e03a3c;
}

/* navbar */

/* banner */

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(40%);
    position: relative;


}

.banner-text {
    position: absolute;
    top: 40%;

}

.banner-text h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.banner-text p {
    margin: 10px 0 0 0;
    font-size: 24px;
    color: gainsboro;
}

.btn-banner {
    background-color: #e03a3c !important;
    border: none;
    color: white !important;
    font-size: 14px !important;
    border-radius: 4px;
    width: 20%;
    height: 40px;




}

.btn-banner span {
    letter-spacing: 1px;



}

.watch i {
    font-size: 32px;
    margin-left: 25px;
    margin-right: 8px;
    color: #e03a3c;

}

.watch span {
    color: white;
    font-weight: 600;

}

.btwt {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.watch {
    display: flex;
    justify-content: center;
    align-items: center;

}

.watch span a {
    color: white;
    text-decoration: none;
}

.watch span:hover a {
    color: #e03a3c;
}

/* banner */

/* client-carousel */
.client-carousel {
    padding-top: 2rem;
    padding-bottom: 1rem;


}

.main-box img {
    padding: 30px;
    opacity: 0.5;
    transition: 0.5s;
    filter: grayscale(100);
}

.main-box:hover img {
    filter: none;
    opacity: 1;

}

.owl-dots {
    margin-top: -21px !important;

}

.owl-dots .active span {
    background-color: #e03a3c !important;

}


/* client-carousel */

/* about */

.main-about h2 {
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.main-about p {
    margin-bottom: 30px;
}

.about-btn {
    padding: 8px 30px 9px 30px !important;
    font-size: 13px !important;
    border: 2px solid #e03a3c !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.about-btn:hover {
    background-color: #e03a3c !important;

}

.detail i {
    font-size: 40px;
    color: #e03a3c;
    margin-bottom: 10px;
}

.detail h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.detail:hover h4 {
    color: #e03a3c;
    transition: .3s ease-in-out;
}

.about {
    color: #fff;
    position: relative;
}

.about-container {
    padding: 80px 0;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
}

.section {
    padding: 60px 0;
}

/* about */

/* stats section */
.stats-item {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 25px 30px;
    margin-top: -27px;
}


.stats-item span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    color: #444444;
}

.stats-item p {
    font-size: 16px;
    text-align: center;



}

.emoji i {
    background-color: white;
    color: #e03a3c;
    font-size: 24px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 54px;
    height: 54px;
    align-items: center !important;
    position: relative;
    display: inline-flex;
    padding: 15px;



}

.stats {
    margin-top: 30px;
    margin-bottom: 30px;
}



/* stats section */

/* tab section */
.section {
    padding-bottom: 100px;

}

.tabs .nav-link {
    color: #111111;
    border: 1px solid #e6dddb;
    padding: 15px 20px;
    transition: 0.3s;
    border-radius: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.tabs .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}

.tabs .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.tabs .nav-link:hover {
    color: #e03a3c;
    border-color: #e03a3c;
}

.tabs .nav-link.active {
    background: #e03a3c !important;
    color: #111111;
    border-color: #e03a3c;
}

.tabs .nav-link.active h4 {
    color: #ffffff;
}









/* tab content */

.content ul {
    padding: 0px;
    padding-bottom: 10px;
}

.content ul i {
    color: #e03a3c;
    padding-bottom: 10px;
}

.content h3 {
    font-size: 26px;
    font-weight: 700;
}




/* tab content */

/* tab section */


/* service */
.services {
    color: #fff;
    position: relative;
}

.services {
    padding: 80px 0;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: white;
}


.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-title p {
    text-align: center;
    padding-bottom: 50px;
}


.services .service-item {
    background-color: #353535;
    padding: 30px;
    transition: 0.3s;
    display: flex;
}

.service-item i {
    font-size: 36px !important;
    color: #e03a3c;
    flex-shrink: 0;
    margin-right: 30px;

}

.service-content h4 a {
    color: white !important;
    font-weight: 700;
    font-size: 20px;

}

.service-content .description {
    line-height: 24px;
    font-size: 14px;
    margin: 0;

}

.colspace {
    padding: 10px;
}


/* service */

/* portfolio */

.portfolio {
    margin-top: 180px;

}

.portfolio {
    background-color: white;
}

.filter button {
    font-size: 18px !important;
    font-weight: 800 !important;
    background-color: white !important;
    color: #111111 !important;
    border: none !important;
    align-items: center !important;



}

.filter:hover {
    color: #e03a3c !important;



}

.filter button:focus {
    color: #e03a3c !important;
}

.portfolio-content {
    position: relative;
    overflow: hidden;

}

.overlay h4 {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    background-color: #e03a3c;


}

.portfolio .portfolio-content img:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: brightness(30%);


}

.overlay {
    position: absolute;
    padding: 15px;
    inset: 0;
    z-index: 3;
    opacity: 0;

}

.overlay p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.bi-link-45deg {
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 45%;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    color: white;

}

.bi-zoom-in {
    position: absolute;
    left: calc(50% - 40px);
    top: 45%;
    font-size: 25px;
    color: white;


}

.bi-zoom-in:hover {
    color: #e03a3c;
}

.bi-link-45deg:hover {
    color: #e03a3c;
}

.portfolio-content:hover img {
    transition: 0.5s;
    transform: scale(1.1);
    filter: brightness(30%);

}

.overlay:hover {
    opacity: 1;
    transition: 0.5s;
}

/* portfolio */


/* testimonials */
.testimonials {
    background-color: white;

}

.photo .testimonial-img {
    opacity: 1 !important;
    transition: 0.5s;
    filter: none;
    border-radius: 50%;
    margin-right: 15px !important;
    width: 153px !important;





}

.wh-card h3 {
    font-size: 18px;
    font-weight: bold;

}

.stars {
    color: gold;

}

.wh-card {
    border: 0px solid #e6dddb;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 30px 3px;
    padding: 30px;
    height: 100%;


}

.wh-card .photo img {
    margin-top: -34px;
    margin-left: -30px;

}

.stars {
    padding-bottom: 10px;
}

.wh-card h4 {
    font-size: 14px;
    color: gray;
}

.p-area span {
    text-align: justify;
    font-style: italic;


}

.p-area i {
    color: pink;
}

/* PRICING */
.section-bg {
    margin-top: 60px;
}

.pricing {
    color: #fff;
    position: relative;
}

.pricing {
    padding: 80px 0;

}

.pricing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
}

.title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.title p {
    text-align: center;
    padding-bottom: 50px;
}

.title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


/* PRICING */

.pricing-item {
    height: 100%;
    position: relative;
    background-color: #353535;
    padding: 60px 40px;
}
.pricing-item3 {
    height: 100%;
    position: relative;
    background-color: #353535;
    padding: 60px 40px;
}

.na {
    text-decoration: line-through;
    color: gray;
}

.pricing-item ul {
    list-style-type: none;
    padding-left: 0;

}
.pricing-item3 ul {
    list-style-type: none;
    padding-left: 0;

}

.pricing-item ul li {
    padding: 10px 0;
}
.pricing-item3 ul li {
    padding: 10px 0;
}

.pricing-item h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;


}
.pricing-item3 h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;


}

.pricing h4 sup {
    font-size: 28px;
}

.pricing h4 span {
    font-size: 18px;
    color: gray;
}

.pricing h4 {
    font-size: 48px;
    color: #e03a3c;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.pricing-item .bi-check {
    color: green;
}
.pricing-item3 .bi-check {
    color: green;
}

.pricing-item ul i {
    font-size: 24px;
    padding-right: 3px;
}
.pricing-item3 ul i {
    font-size: 24px;
    padding-right: 3px;
}


.buy-btn {
    background-color: #1b1b1b;
    color: white;
    border: 1px solid #e6dddb;
    padding: 8px 35px 10px 35px;
    border-radius: 5px;

}

.buy-btn:hover {
    color: white;
    background-color: #e03a3c;
    border: none;
}




.pricing .featured {
    z-index: 10;
    padding: 0;
    transform: scale(1.02, 1.1);

}

.pricing-item2 {
    height: 100%;
    position: relative;
    background-color: #e03a3c;
    padding: 60px 40px;
}

.pricing-item2 .bi-check {
    color: white;
}

.pricing-item2 ul i {
    font-size: 24px;
    padding-right: 3px;
}

.buy-btn2 {
    background-color: #e03a3c;
    color: white;
    border: 1px solid #e6dddb;
    padding: 8px 35px 10px 35px;
    border-radius: 5px;

}

.buy-btn2:hover {
    color: white;
    background-color: #111111;
    border: none;
}

.pricing-item2 ul {
    list-style-type: none;
    padding-left: 0;

}

.pricing-item2 ul li {
    padding: 10px 0;
}

.pricing-item2 h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;


}

.pricing-item2 h4 {
    color: white;

}

.pricing-item2 h4 span {
    color: white;

}

.featured1 {
    margin-right: -9px;
}

.featured3 {
    margin-left: -9px;
}


/* questions */

.questions {
    margin-top: 110px;
}

.accordion {
    margin-bottom: 10px !important;

}

.accordion-item {
    padding: 5px;
    border: 1px solid #e6dddb !important;
    margin-bottom: 15px;
    border-radius: 5px;
}

.accordion-item .accordion-header .accordion-button {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px;
    background: none !important;
    box-shadow: none !important;


}

.accordion-button:hover {
    color: #e03a3c !important;
}

/* questions */

/* team */
.team {
    color: #fff;
    position: relative;
    margin: 60px 0;
    padding-bottom: 60px;

}

.teams {
    padding: 80px 0;
}

.team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
}

.team-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: white;
}


.team-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.team-title p {
    text-align: center;
}

.card-img-top {}

.card-body {
    background-color: #212529 !important;
    padding: 25px 15px !important;
    color: white !important;
}

.card {
    position: relative;
    border: none !important;
    border-radius: 2rem !important;
}

.card-body .card-title {
    font-size: 18px !important;
    font-weight: 700 !important;

}

.card-body .card-text {
    font-size: 13px;
    font-weight: 400;
    color: gray !important;

}

.social-links {
    position: absolute;
    top: 60%;
    right: 16%;
    opacity: 0;
    transition: 0.8s ease-in;



}

.card:hover .social-links {
    opacity: 1;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgb(0, 0, 0);
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    justify-content: center;

}

.twitter:hover,
.facebook:hover,
.instagram:hover,
.skype:hover,
.linkedin:hover {

    color: white;
    background-color: #e03a3c;
}



/* team */

.contact {
    margin-bottom: 50px;
}

.contact i {
    font-size: 24px;
    color: #e03a3c;
    border: dotted 2px;
    border-radius: 50%;
    background-color: white;
    width: 54px;
    height: 54px;
    display: inline-block;
    text-align: center;
    padding: 6px;
    justify-content: center;
}

.location {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 24px;
    padding-bottom: 10px;
    height: 154px;
    margin-bottom: 40px;


}

.location h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    color: #444444;
}

.location p {
    font-size: 14px;

}

.tlem {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.details {
    width: 100%;
    padding: 36px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



}

.cta-btn2 {
    background: #e03a3c;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 20px;
    text-decoration: none;


}

.cta-btn2:hover {
    background-color: #111111;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #e03a3c !important;
}

.address {
    padding: 24px 0 30px 0;

}

.tl {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    padding: 24px 0 30px 0;
    width: 50%;
    --bs-gutter-y: 0rem !important;
    margin-right: 13px;
    margin-left: -11px;
    /* --bs-gutter-y: 1.5rem !important;  */

}

.em {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50%;
    padding: 24px 0 30px 0;
    margin-top: 20px;
    --bs-gutter-y: 0rem !important;
    margin-left: 8px;
}

.add1 {
    margin-top: -31px;
}

.down {
    margin-top: -22px !important;

}

.item1 {
    width: 100%;
}

.item2 {
    width: 100%;
}

/* footer */
.footer-about {
    line-height: 35px;
}

.footer {
    height: 100%;
}

.footer-about h2 {
    font-size: 26px;
    font-weight: 700;
    color: white;
    margin-top: 20px;

}

.footer-contact {
    color: white;

}

.social-linkss a {
    align-items: center;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 16px;
    margin-right: 10px;
    padding: 9px;




}

.twitterr:hover,
.facebookk:hover,
.instagramm:hover,
.linkedinn:hover {

    color: #e03a3c;
    border-color: #e03a3c;

}

.ph {
    margin-bottom: 0;
}

.footer h4 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    padding-top: 20px;
}

.quick-link {
    line-height: 35px;
}

.quick-link a {
    color: gray;
}

.Our-Services a {
    color: gray;

}

.Our-Services {
    line-height: 35px;
}

.email a {
    color: white;

}

.Our-Newsletter p {
    color: white;
    font-size: 15px;

}

.form-content {
    position: relative;
    padding: 6px 8px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;


}

.email-box {
    padding: 4px;
    border: 0;
    background-color: black;
    color: white;



}

.Subscribe-btn {
    margin: -7px -8px -7px 0;
    padding: 0 20px;
    border-radius: 0 4px 4px 0;
    border: 0;
    background-color: #e03a3c;
    color: white;
    font-size: 700;


}

.email-box:focus {
    outline: none;
    border: none;
    box-shadow: none;

}

.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgb(88, 85, 85);
}

.copyright p {
    color: white;
    font-size: 15px;
    margin-bottom: -18px;
}

.credits {
    color: white;
}
.credits a{
    color: #e03a3c;
}

/* footer */



/* media query */
@media only screen and (max-width: 600px){
    .filter button{
        font-size: 7px !important;
        padding: -10px !important;
        

    }
    .details{
        margin-top: 180px !important;
    }
    .emoji i{
        margin-left: 155px;
    }
    .pricing-item2{
        margin-top: 91px;
        height: 85%;
    }
    .pricing-item {
        margin-top: 50px;
    }
    .pricing-item3{
        margin-top: 50px;
    }
    


} 